#content{
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 450px;
    padding: 30px 20px;
    margin-top: 50px;
}
table{
    border: 1px solid;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    padding: 15px;
    border: 1px solid #a4a4a4;
    height: 30px;
}
th{
    text-align: left;
    background-color: #ececec;
}
tr:hover{
background-color:#ffff99;
border: 5px solid black;
}/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 7 May, 2020, 9:47:26 PM
    Author     : nikita gupta
*/

